{% if evpn_mh_interfaces is defined %}
apply-groups evpn-multihoming-mx
groups {
    evpn-multihoming-mx {
    interfaces {
{% for mh_if in evpn_mh_interfaces %}
                {{ mh_if.name }} {
                vlan-tagging;
                encapsulation flexible-ethernet-services;
                  description "{{ mh_if.name }} {{ mh_if.description }}"
                  mtu 9192;
                  aggregated-ether-options {
                    lacp {
                      active;
                      system-id 00:00:00:00:00:01;
                    }
                  }
                  esi {
                    {{ mh_if.esi }};
                    {{ mh_if.mode }};
                  }
                }
{% for mh_if_members in mh_if.ae_members %}
                {{ mh_if_members }} {
                  gigether-options {
                    802.3ad {{ mh_if.name }};
                  }
                }

{% endfor %}
{% endfor %}
        }
    }
}
{% endif %}
