apply-groups overlay-mx-mpls
groups {
    overlay-mx-mpls {
          protocols {
                    mpls {
{% for link in inet_topology_links %}
{% if link.link_device == inventory_hostname %}
                        interface {{ link.link_if }};
{% endif %}
{% endfor %}
                        interface fxp0.0 {
                            disable;
                        }
                    }
                    ldp {
{% for link in inet_topology_links %}
{% if link.link_device == inventory_hostname %}
                        interface {{ link.link_if }};
{% endif %}
{% endfor %}
                        interface fxp0.0 {
                            disable;
                        }
                    }
            }
    interfaces {
{% for link in inet_topology_links %}
{% if link.link_device == inventory_hostname %}
        {{ link.link_if }} {
          unit 0 {
            family mpls;
          }
        }
{% endif %}
{% endfor %}
    }
  }
}
