
apply-groups evpn-ibgp
groups {
    evpn-ibgp {
          routing-options {
            forwarding-table {
                export evpn-pplb;
                chained-composite-next-hop {
                    ingress {
                        evpn;
                    }
                }
              }
            autonomous-system 65000;
          }

          protocols {
              bgp  {
                group evpn {
                   type internal;
                   local-address {{ lo0_ip }};
                   family evpn {
                       signaling;
                   }
{% for ahost in ansible_play_hosts %}
{% if ( inventory_hostname != ahost ) %}
                     neighbor {{ hostvars[ahost]['lo0_ip'] }} {
                      description "{{ ahost }}";
                     }
{% endif %}
{% endfor %}
                 }
              }
          }
policy-options {
    policy-statement evpn-pplb {
        from protocol evpn;
        then {
            load-balance per-packet;
        }
    }
}
  }
}
