{% if inet_interfaces is defined %}
apply-groups inet_interfaces
groups {
    inet_interfaces {
          interfaces {
          {% for inet_if in inet_interfaces %}
          {{ inet_if.name }} {
              description "{{ inet_if.name }} {{ inet_if.description }}"
              mtu 9192
              unit 0 {
                  family inet {
                      address {{ inet_if.ip_address }};
                  }
              }
          }
          {% endfor %}
        }
    }
}
{% endif %}
