apply-groups underlay_ospf
groups {

    underlay_ospf {
          protocols {
                    ospf {
                        area 0.0.0.0 {
{% if inet_topology_links is defined %}
{% for link in inet_topology_links %}
{% if link.link_device == inventory_hostname %}
                            interface {{ link.link_if }};
{% endif %}
{% endfor %}
{% endif %}
                            interface lo0.0 {
                                passive;
                            }
                        }
                    }
                 }
           }
}
